{% extends 'base.html.twig' %}


{% block body %}

    <h1>{{ category.name }}</h1>
    
    <br>
    
    <a href="{{ path('category_list') }}"><- Voir toutes les catégories</a>
    

    
    
{% endblock %}