{% extends 'base.html.twig' %}


{% block body %}
    
        <h1>Admin</h1>
    
        
            <a href="/logout" class="btn btn-danger">Déconnexion</a>
        
        

    
    
{% endblock %}