{% extends 'base.html.twig' %}


{% block body %}
    <h1>{{title}}</h1>
    
    {% for message in app.session.flashBag.get('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    
    {{ form(form, {attr: {novalidate: 'novalidate'}}) }}
    
{% endblock %}